version: "3.0"
services:
  postgres:
    image: postgres:9.6
    restart: always
    environment: 
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
    ports: 
    - "5432:5432"